version: '3'
services:

  bloggle-nginx:
    container_name: bloggle-nginx
    build: ./services/bloggle-nginx
    ports:
      - "80:80"
    depends_on:
      - bloggle-api-gateway
    links:
      - bloggle-api-gateway

  bloggle-api-gateway:
    container_name: bloggle-api-gateway
    build: ./services/bloggle-api-gateway
    env_file:
      - ./services/bloggle-api-gateway/.env
    depends_on:
      - bloggle-blogs
      - bloggle-comments
      - bloggle-posts
      - bloggle-users
    links:
      - bloggle-blogs
      - bloggle-comments
      - bloggle-posts
      - bloggle-users

  bloggle-blogs:
    container_name: bloggle-blogs
    build: ./services/bloggle-blogs/
    environment:
      - PROD_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-blogs-db:5432/prod
      - DEV_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-blogs-db:5432/dev
      - TEST_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-blogs-db:5432/test
    env_file:
      - ./services/bloggle-blogs/.env
    depends_on:
      - bloggle-blogs-db
    links:
      - bloggle-blogs-db

  bloggle-comments:
    container_name: bloggle-comments
    build: ./services/bloggle-comments/
    environment:
      - PROD_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-comments-db:5432/prod
      - DEV_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-comments-db:5432/dev
      - TEST_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-comments-db:5432/test
    env_file:
      - ./services/bloggle-comments/.env
    depends_on:
      - bloggle-comments-db
    links:
      - bloggle-comments-db

  bloggle-posts:
    container_name: bloggle-posts
    build: ./services/bloggle-posts/
    environment:
      - PROD_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-posts-db:5432/prod
      - DEV_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-posts-db:5432/dev
      - TEST_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-posts-db:5432/test
    env_file:
      - ./services/bloggle-posts/.env
    depends_on:
      - bloggle-posts-db
    links:
      - bloggle-posts-db

  bloggle-users:
    container_name: bloggle-users
    build: ./services/bloggle-users/
    environment:
      - PROD_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-users-db:5432/prod
      - DEV_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-users-db:5432/dev
      - TEST_DATABASE_URI=postgresql://bloggle:bloggle@bloggle-users-db:5432/test
    env_file:
      - ./services/bloggle-users/.env
    depends_on:
      - bloggle-users-db
    links:
      - bloggle-users-db

  bloggle-blogs-db:
    container_name: bloggle-blogs-db
    build: ./services/bloggle-blogs/db/
    environment:
      - POSTGRES_USER=bloggle
      - POSTGRES_PASSWORD=bloggle
    volumes:
      - bloggle-blogs-db

  bloggle-comments-db:
    container_name: bloggle-comments-db
    build: ./services/bloggle-comments/db/
    environment:
      - POSTGRES_USER=bloggle
      - POSTGRES_PASSWORD=bloggle
    volumes:
      - bloggle-comments-db

  bloggle-posts-db:
    container_name: bloggle-posts-db
    build: ./services/bloggle-posts/db/
    environment:
      - POSTGRES_USER=bloggle
      - POSTGRES_PASSWORD=bloggle
    volumes:
      - bloggle-posts-db

  bloggle-users-db:
    container_name: bloggle-users-db
    build: ./services/bloggle-users/db/
    environment:
      - POSTGRES_USER=bloggle
      - POSTGRES_PASSWORD=bloggle
    volumes:
      - bloggle-users-db

volumes:
  bloggle-blogs-db: {}
  bloggle-comments-db: {}
  bloggle-posts-db: {}
  bloggle-users-db: {}
